<!DOCTYPE html>
<html>
<head>
  <meta name="title" content="My Portfolio  -  Scottishpuff.in">
  <meta name="description" content="My digital portfolio. Still a big WIP.">
  <meta name="keywords" content="portfolio, projects, programming">
  <meta name="robots" content="index, follow">
  <meta property="og:image" content="{{ url_for('static', filename='Images/pfp(t).ico') }}" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>ScottishPuffin</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='Images/pfp(t).ico') }}">
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
  <script src="{{ url_for('static', filename='Scripts/footer.js') }}"></script>
  <script src="https://kit.fontawesome.com/2bfedb9754.js" crossorigin="anonymous"></script>
  </head>
  <body onload="footerChg()">
  <div class="header">
    <img src="{{ url_for('static', filename='Images/pfp(t).ico') }}" onclick="window.location.href='https://gist.github.com/WeeScottishPuffin/85358cb933e94014890f3ce35c0475cd'">
    <h2>ScottishPuffin</h2>
    <div class="socials">
    <i class="social fa-brands fa-discord" onclick="window.open('https://discordapp.com/users/1080953934920827000', '_blank');"></i>
    <i class="social fa-brands fa-github" onclick="window.open('https://github.com/WeeScottishPuffin', '_blank');"></i>
    </div>
  </div>
  <div class="content projects">
    <div class="notice">
      <h2>Notice</h2>
      <p>This website is still under construction.</p>
      <br>
    </div>
    <a class="project" href="/project/portfolio">
    <img src="{{ captureLink }}"/>
    <p>Portfolio site</p>
    </a>
    {% for p in projects.keys() %}
    <a class="project" href="/project/{{ p }}">
      <img src="{{ url_for('static', filename='Images/%s'%(projects[p]['Cover'])) }}"/>
      <p>{{ projects[p]['Name'] }}</p>
    </a>
    {%endfor%}
  </div>
  <div class="footer">
    <p id="footerText">COPYRIGHT <span class="year">2023</span> NAUT VAN DER WINDEN</p>
  </div>
  </body>
</html>